# 設定ファイルとメタデータ
.ipynb_checkpoints
.venv
.vscode

# setupスクリプトの実行で出力されるBKファイル
requirements_[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9][0-9][0-9].txt

# sampleコードの実行で出力されるcsvファイル
sample/*.csv